* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url('assets/main_phone.jpg');
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/minecraft-ten.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
.title {
    font-family: 'MyCustomFont', sans-serif;
    color: aliceblue;
    font-size: 30px;
    text-align: center;

}

.pasha_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 73vh;
    
}

.img_pasha_main {
    border-radius: 50%;
    width: 50%;
}

.score_main {
    font-family: 'MyCustomFont', sans-serif;
    color: aliceblue;
    
}

.buttons_menu {
    display: flex;
    position: fixed;
    margin: 0px 20px 20px;  
    z-index: 1000;
}

.button_game {
    flex: 1;
    right: 50px;
    border: 5px solid;
    border-radius: 10%;
    width: 150px;
    height: 120px;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 15px;        
    margin-right: 40px;
}

.button_store {
    border-radius: 10%;
    border: 5px solid;
    width: 150px;
    height: 120px;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 15px;        
}

.screen.disactivate {
    display: none;
}

.screen.active {
    display: flex;
}

.pasha_store {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 73vh;
    gap: 5px;
    top: 270px;
}  

.store_card {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 20%;
    top: 300px;
}

.store_card img {
    width: 100%;
    border-radius: 20%;
    margin-right: 10px;
}

.button_store_buy {
    border-radius: 10%;
    border: 5px solid;
    width: 120px;
    height: 70px;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 15px;            
    margin-left: 10px;

}

.text_column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text_head {
    font-family: 'MyCustomFont', sans-serif;
    color:aliceblue;
    font-size: 20px;
}

.text_description {
    font-size: 14px;
    color: aliceblue;
    font-weight: bold;

}

.bottom_spacer {
    width: 100%;
}

.spacer {
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0, 0);
}

button:active {
    background-color: rgba(138, 255, 249, 0.4);
}


@media (max-width: 480px) {
    .main-content {
        padding: 0 10px;
    }
    
    .store_card {
        gap: 12px;
        padding: 12px;
    }
    
    .character-img {
        width: 50px;
        height: 50px;
    }
    
    .character-name {
        font-size: 15px;
    }
    
    .character-desc {
        font-size: 13px;
    }
    
    .buy-button {
        padding: 8px 16px;
        font-size: 14px;
    }
    
    .bottom_spacer {
        height: 150px;
    }
}
